* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1#h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

html {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  & li {
    & a {
      text-decoration: none;
    }
  }
}

button {
  cursor: pointer;
  background-color: rgb(0, 255, 179);
  border-radius: 8px;
  padding: 8px;
  border: none;
  color: black;
}

header {
  /* height: 8vh;
  background: blue; */
  display: flex;
  align-items: center;
  padding: 4px;
  position: relative;
  & #logo {
    height: auto;
    /* height: 5vh; à supprimer. Jamais de taille avant d'avoir fini la structure*/
  }
  & nav {
    & input#hamburger {
      display: none;
    }
    flex-grow: 1;

    & ul#nav-links {
      display: flex;
      justify-content: space-around;
    }
  }
}

main {
  padding: 1rem 0;
  max-width: 981px;
  margin: auto;
  display: flex;
  /* height: 84vh; */
  justify-content: space-between;

  & .main-content {
    width: 80%;
    & #separation {
      gap: 8px;
      width: 75%;
      margin: auto;
      display: flex;
      padding: 8px;
      border: 1px solid black;
      border-radius: 8px;
      & .image {
        background: url("./image3.webp") no-repeat center center/cover;
        /* background-attachment: fixed; */
        width: 30%;
        max-width: 100%;
        min-width: 150px;
      }
      & .content {
        /* text-align: center; */

        & button {
          margin-top: 1rem;
        }
      }
    }
  }
  & aside {
    border-left: 1px solid black;
    width: 20%;
  }
}

/* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 1rem;
      padding: 1rem; */

footer {
  padding: 4px 0;
  background: red;
  & .grid {
    padding: 10px 3rem;
    display: grid;
    grid-template-areas:
      "A B C"
      "D D D";
    grid-template-columns: 1fr 2fr 1fr;
  }
  & #logo {
    grid-area: A;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    width: 60%;

    & span {
      margin-top: 1rem;
    }
  }
  & nav#nav {
    grid-area: B;
    & ul {
      width: fit-content;
      margin: auto;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
      &li {
        width: fit-content;
      }
    }
  }
  & #reseaux {
    grid-area: C;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    & a {
      font-size: 1.8rem;
    }
  }

  & #copyright {
    grid-area: D;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem 1rem 1rem;
  }
}

@media only screen and (max-width: 768px) {
  h1#h1 {
    font-size: 1rem;
  }
  main {
    flex-direction: column;
    & .main-content {
      width: 100%;
    }
    & aside {
      /* display: none; */
      width: 100%;
      text-align: center;
      margin-top: 1rem;
    }
  }

  footer {
    & .grid {
      padding: 10px 3rem 10px 2rem;
      grid-template-areas: "A" "B" "C" "D";
      grid-template-columns: 1fr;
      grid-template-rows: 0fr 2fr 1fr 0fr;
      justify-items: center;
    }
    #logo {
      grid-area: B;
      width: 100%;
      height: 100%;
      justify-content: center;
    }

    & nav#nav {
      grid-area: D;
      & ul {
        flex-direction: row;
        justify-content: space-around;
        gap: 1rem;
      }
    }
    & #reseaux {
      grid-area: C;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      & a {
        font-size: 3rem;
      }
    }

    & #copyright {
      grid-area: A;
      justify-content: center;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}
@media only screen and (max-width: 576px) {
  header {
    & nav {
      & input#hamburger:not(:checked) ~ ul#nav-links {
        height: 0;
      }

      & input#hamburger:checked ~ ul#nav-links {
        height: calc(100vh - 100%);
        overflow-y: hidden;
      }

      &
        input#hamburger:checked
        + #menu-mobile
        > label
        > span.line:nth-child(1) {
        transform: translateY(12px) rotate(-45deg);
      }
      &
        input#hamburger:checked
        + #menu-mobile
        > label
        > span.line:nth-child(2) {
        opacity: 0;
      }
      &
        input#hamburger:checked
        + #menu-mobile
        > label
        > span.line:nth-child(3) {
        transform: translateY(-12px) rotate(45deg);
      }

      & #menu-mobile > label {
        display: block;
        margin-left: auto;
        margin-right: 0;
        width: 40px;
        height: 60px;
        position: relative;
        cursor: pointer;
        & span.line {
          position: absolute;
          height: 6px;
          width: 100%;
          background: black;
          transition: transform 0.5s ease-out;
        }
        & span.line:nth-child(1) {
          top: 12px;
        }
        & span.line:nth-child(2) {
          top: 24px;
        }
        & span.line:nth-child(3) {
          top: 36px;
        }
      }
      & ul#nav-links {
        background: rgb(206, 196, 196);
        position: absolute;
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 0;
        overflow-y: hidden;
        transition: all 0.6s ease-in-out;
        /* height: calc(100% - 68px); */
        left: 0;
        top: 100%;
      }
    }
  }

  footer {
    & .grid {
      padding: 0;
      grid-template-areas:
        "C"
        "A"
        "B"
        "D";
      grid-template-columns: 1fr;
      grid-template-rows: 3fr 2fr 2fr 0fr;
    }
    #logo {
      grid-area: A;
      width: 91%;
      height: 100%;
      justify-content: center;
    }

    & nav#nav {
      width: 91%;
      grid-area: B;
      & ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
      }
    }

    & #reseaux {
      grid-area: D;
      justify-content: space-around;
      gap: 0;
      width: 100%;
      background: #ffffff;
      & a {
        font-size: 3rem;
      }
    }

    & #copyright {
      grid-area: C;
      justify-content: center;
      flex-direction: column-reverse;
      align-items: center;
      gap: 0.8rem;
    }
  }
}
